@mixin reset() {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


$black1: #1a1a1a;

body {
    @include reset();

    width: 100%;
    height: 100vh;

    font-size: 16px;

    background-color: $black1;
}

header {
    width: 100%;

    background-color: #101010;

    padding: 10px 20px;

    position: fixed;
    top: 0;
    z-index: 999;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    max-width: 1200px;
    margin: 0 auto;

    padding:0 60px;


    // Alinhando todos o itens da barra de navegação
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fff;
    transition: 0.5s ease;

    &:hover {
        
        color: #555;
    }

    a {
        color: #fff;
        text-decoration: none;

    }
}

.hamburguer {
    width: 30px;
    height: 30px;

    background-color: transparent;
    border-radius: 5px;
    border: 0;

    position: relative;
    cursor: pointer;

    display: none;
}

.hamburguer:after {
    content: "";

    position:absolute;
    top: 35%;
    left: 15%;

    width: 70%;
    height: 5%;
    border-radius: 5px;

    background-color: #fff;
}

.hamburguer:before {
    content: "";

    position: absolute;
    top: 55%;
    left: 15%;

    width: 75%;
    height: 5%;
    border-radius: 5px;

    background-color: #fff;

}

.menu {
    list-style: none;

    display: flex ;
    align-items: center;

    li {
        margin-left: 10px;
        a {
            display: block;
            padding:10px 15px;
            text-decoration: none;
            color:#555;
            transition: 0.5s ease;
            &:hover {
                color: #fff;
            }
        }
    }
}

@media screen and (max-width: 980px) {

    .hamburguer {
        display: block;
        z-index: 999;

    }
    .menu {
        position: fixed;
        top: 0;
        right: 0;

        height: 100vh;
        margin: 0;
        background-color: #222;

        width: 100%;
        max-width: 250px;

        padding: 100px 20px;
        
        flex-direction: column;
        transition: 0.5s ease;
    }

    .menu.active {
        right:-100%;
    }  

    .container {
        max-width: 1100px;
        width: 45vw;
        margin: 5rem auto 0;
        padding: 5rem;
        border:1px solid #fff;
    }
} 

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.destaque {
    background-color: #fff;
    width: 100%;
    height: 50vh;

    h2 {
        animation-name: fadeIn;
        animation-duration: 2s;
        font-size: 2.5rem;
        text-align: center;
        color: #222;
        padding: 22vh;
        z-index: 999;
    }
}

.container {
  max-width: 1100px;
  width: 55vw;
  margin: 5rem auto 0;
  padding: 5rem;
  border:1px solid #fff;

  p {
      font-size: 1.5rem;
      text-align: justify;
  }

  h3 {
      text-align: center;
      font-size: 2rem;
  }
}




